.u-hero.contact {
  background-image: url('../images/splash-contact.jpg');
  background-position: center center; 
}

.l-contact-splash {
	h2 {
		color: $primary;
	}
	h4 {
		color: $secondary;
		font-size: 18px;
		margin: 0 auto 30px auto;
	}
	p.address {
		font-size: 18px;
		font-weight: bold;
	}
}