.u-hero.safety {
  background: url('../images/safety.png') no-repeat center center fixed; 
}

.l-contact-splash {
	h2 {
		color: $primary;
	}
	h4 {
		color: $secondary;
		font-size: 18px;
		margin: 0 auto 30px auto;
	}
	p.address {
		font-size: 18px;
		font-weight: bold;
	}
}