.u-hero.home {
  background-image: url('../images/splash-home.jpg');
  background-position: center center;  
}

.l-splash {
  img {
    border-radius: 5px;
    max-width: 320px;
    display: block;
    margin: 0 auto 35px auto;
    @media (min-width:991px) {
      border-radius: 0;
      max-width: 100%;
      padding-right: 35px;
      margin-bottom: 0;
    }
  }
  h2 {
    color: $primary;
    margin: 0 0 15px 0;
  }
}

.l-body-content {
  padding: 45px 0;
  h4 {
    color: $primary;
    margin: 0 0 15px 0;
  }
  p {
    max-width: 720px;
    margin: 0 auto 15px auto;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}