.u-hero.services {
  background: url('../images/hero.png') no-repeat center center fixed; 
}

.l-services-body {
	padding: 35px 0;
	text-align: center;
	.col-xs-12 {
		margin-bottom: 25px;
	}
	h2 {
		color: $primary;
	}
	h4 {
		margin-bottom: 60px;
	}
	img {
		margin:0 auto 20px auto;
		max-width: 128px;
	}
	h5 {
		margin: 0 0 45px 0;
		color: #333;
	}
}