.u-hero.services {
  background: url('../images/splash-services.jpg') no-repeat center center fixed; 
}

.l-services-body {
	padding: 35px 0;
	text-align: center;
	.col-xs-12 {
		margin-bottom: 25px;
	}
	h2 {
		color: $primary;
	}
	h4 {
		margin-bottom: 70px;
	}
	img {
		margin:0 auto 30px auto;
		max-width: 85px;
		opacity: 0.4;
	}
	h5 {
		margin: 0 0 45px 0;
		color: #333;
	}
}