<footer>
	<!-- <section class="social">
		<div class="container">
			<ul>
				<li><% link_to 'javascript:void(0);', :target=>'_blank' do %><i class="fa fa-facebook-square"></i>Facebook<% end %></li>
				<li><% link_to 'javascript:void(0);', :target=>'_blank' do %><i class="fa fa-linkedin-square"></i>Linked In<% end %></li>
				<li><% link_to 'javascript:void(0);', :target=>'_blank' do %><i class="fa fa-twitter-square"></i>Twitter<% end %></li>
			</ul>
		</div>
	</section> -->
	<section class="main">
		<div class="container">
			<ul>
				<li><%= link_to 'Products & Services','products-and-services.html'%></li>
				<li><%= link_to 'Projects','projects.html'%></li>
				<li><%= link_to 'TABB & Fire Life Safety','safety.html'%></li>
				<li><%= link_to 'Contact','contact.html'%></li>
			</ul>
			<span>
				Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
				<br>
				Copyright 1974-2015 Arico Mechanical Inc. All Rights Reserved.
			</span>
		</div>
	</section>
</footer>