<nav>
	<div class="container">
		<% link_to '/', :class=>'site-id' do %>
			<span>Airco</span>
			Automation
		<% end %>

		<!-- toggle hamburger button -->
		<div class="ecg-burger"></div>
		<!-- menu -->
		<section class="ecg-menu">
		  <ul>
		    <li><%= link_to 'Products & Services','products-and-services.html'%></li>
		    <li><%= link_to 'Projects','projects.html'%></li>
		    <li><%= link_to 'TABB & Fire Life Safety','safety.html'%></li>
		    <li><%= link_to 'Contact','contact.html'%></li>
		  </ul>
		</section>
	</div>
</nav>