---
title: Contact
---

<section class="u-hero safety">
	<div class="container">
		<div class="u-screen"></div>
		<div class="u-foreground">
			<h1>Contact</h1>
		</div>
	</div>
</section>

<div class="l-contact-splash padding-md">
	<div class="container">	
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 u-text-center">
				<h2>Get in Touch!</h2>
				<p>
					Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper.
				</p>
				<div class="margin-md"></div>
				<div class="row margin-sm">
					<div class="col-xs-12 col-sm-6 col-sm-offset-3">
						<h4>Sacramento<br>Airco Automation Inc.</h4>
						<p class="address">
							8210 Demetre Avenue<br>
							Sacramento, California 95828<br>
							Telephone (916) 381-4523<br>
							Fax (916) 386-0350
						</p>
						<p>email@website.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="u-quote-section">
	<div class="u-screen green"></div>
	<div class="container">
		<div class="u-forground">
			<h2 class="u-quote">
				<i class="fa fa-quote-right"></i>Lorem ipsum Exercitation ex sed aute in sed qui et minim aliquip. In sed qui et minim aliquid. Lorem ipsum Sint aliqua ea officiat commodo qui amet sit Ut aute dolore est enim ullamco.<i class="fa fa-quote-left"></i>
			</h2>
		</div>
	</div>
</section>