---
title: Airco Mechanical
---

<section class="home-hero">
	<div class="container">
		<h1>Excellence by Design.</h1>
		<div class="screen"></div>
	</div>
</section>

<section class="margin-lg splash-1">
	<div class="container">
		<div class="row">
			<div class="row-height">
				<div class="col-xs-12 col-md-6 col-md-height">
					<p>
						Airco Mechanical, Inc. has been exceeding client expectations by designing and installing state-of-the-art mechanical systems in commercial buildings throughout Northern California. We’re unique because of the way we design our teams, processes and procedures for each job.
					</p>
					<p>
						As the leading design build mechanical contractor in our region, our specialties include heating, ventilation and airconditioning systems, plumbing systems, process piping, and environmental control systems.
					</p>					
				</div>
				<div class="col-xs-12 col-md-6 col-md-height col-middle">
					<%= image_tag 'http://placehold.it/230x230' %>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
<a class="fancybox button" data-fancybox-type="iframe" href="contact-form.html">
	Hire us
</a> -->

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>