---
title: TABB &amp; Fire Life Safety
---

<section class="u-hero safety">
	<div class="container">
		<div class="u-screen"></div>
		<div class="u-foreground">
			<h1>TABB &amp; Fire Life Safety</h1>
		</div>
	</div>
</section>

<section class="l-safety-body padding-lg">
	<div class="container">
		<h2 class="u-blue-title">TABB &amp; Fire Life Safety</h2>
		<div class="row padding-xs">
			<div class="col-xs-12 col-sm-4 col-sm-offset-4">
				<%= image_tag 'tabb.gif' %>
			</div>
		</div>
		<div class="padding-sm row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<p>
					As a <a href="http://www.tabbcertified.org/site/public/content/index/home" target="_blank">TABB certified* company</a>, Airco Automation, Inc offers design professionals, engineers and building owners the highest standard in testing and balancing of commercial HVAC systems.
				</p>	
			</div>
		</div>
		<div class="row padding-md">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<h5>Airco’s Testing, Adjusting and Balancing (TAB) Services</h5>
				<ul>
					<li>
						TABB  (Testing Adjusting and Balancing Bureau)
						<ul>
							<li>Certified TABB reports</li>
							<li>ANSI (American National Standards Institute)</li>
							<li>
								TAB Services
								<ul>
									<li>Hydronic balance</li>
									<li>Air Balance</li>
									<li>Outside air testing &amp; documentation</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						Fire Life Safety (FLS) <a href="fire-life-safety.pdf" target="_blank">View PDF</a>
						<ul>
							<li>Certified technicians and supervisors</li>
							<li>Periodic damper inspection program</li>
							<li>Duct smoke detector velocity testing</li>
						</ul>
					</li>
					<li>
						Indoor Air Quality (IAQ)
						<ul>
							<li>Investigation and solution Services</li>
						</ul>
					</li>
					<li>
						Hospital, Laboratory &amp; Clean Room Services
						<ul>
							<li>Perform 2009 clean room certification to ISO 14644 standards</li>
							<li>Isolation room testing</li>
							<li>HEPA filter integrity tests</li>
							<li>Particle counting</li>
							<li>Shaker calibration</li>
							<li>Walk-in freezer mapping</li>
							<li>CDA clean dry air testing</li>
							<li>Bacterial counts</li>
							<li>
								Fume hood certification
								<ul>
									<li>ASHRAE 110 test</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						Sensor Calibration
						<ul>
							<li>Oxygen sensor</li>
							<li>CO2 sensor</li>
							<li>Humidity sensor</li>
						</ul>
					</li>
					<li>
						Specialty Adjustment &amp; Testing Services
						<ul>
							<li>Laser alignment of belts, sheaves, and motors</li>
						</ul>
					</li>
					<li>
						Title 24 Non-Residential Mechanical Acceptance Testing
						<ul>
							<li>Certified Mechanical Acceptance Test Technicians on Staff</li>
							<li>Certified Mechanical Acceptance Test Employer</li>
							<li>3rd Party Testing & Certifications</li>
							<li>Mechanical Testing Certification Consultations available to help you navigate the new standards</li>
						</ul>						
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="u-cta">
	<div class="container">
		<div class="u-forground">
			<h2>Get Started</h2>
			<p>
				Maximize your buildings comfort, security, and efficiency.
			</p>
			<%= link_to 'Contact Us', 'contact.html', :class=>'button button-green' %>
		</div>
	</div>
</section>