---
title: TABB &amp; Fire Life Safety
---

<section class="u-hero safety">
	<div class="container">
		<div class="u-screen"></div>
		<div class="u-foreground">
			<h1>TABB &amp; Fire Life Safety</h1>
		</div>
	</div>
</section>

<section class="l-safety-body padding-lg">
	<div class="container">
		<h2 class="u-blue-title">TABB &amp; Fire Life Safety</h2>
		<div class="row padding-xs">
			<div class="col-xs-12 col-sm-4 col-sm-offset-4">
				<%= image_tag 'tabb.gif' %>
			</div>
		</div>
		<div class="padding-sm row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<p>
					As a <a href="http://www.tabbcertified.org/site/public/content/index/home" target="_blank">TABB certified* company</a>, Airco Automation, Inc offers design professionals, engineers and building owners the highest standard in testing and balancing of commercial HVAC systems.
				</p>	
			</div>
		</div>
		<div class="row padding-md">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<h5>Airco’s Testing, Adjusting and Balancing (TAB) Services</h5>
				<ul>
					<li>
						TABB  (Testing Adjusting and Balancing Bureau)
						<ul>
							<li>Certified TABB Reports</li>
							<li>ANSI (American National Standards Institute)</li>
							<li>
								TAB Services
								<ul>
									<li>Hydronic balance</li>
									<li>Air Balance</li>
									<li>Outside Air testing and documentation</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						Fire Life Safety (FLS) View PDF
						<ul>
							<li>Certified technicians and supervisors</li>
							<li>Periodic Damper Inspection Program</li>
							<li>Duct Smoke Detector Velocity Testing</li>
						</ul>
					</li>
					<li>
						Indoor Air Quality (IAQ)
						<ul>
							<li>Investigation and solution Services</li>
						</ul>
					</li>
					<li>
						Hospital, Laboratory and Clean room Services
						<ul>
							<li>Perform 2009 Clean room Certification to ISO 14644 Standards</li>
							<li>Isolation Room Testing</li>
							<li>HEPA Filter Integrity Tests</li>
							<li>Particle Counting</li>
							<li>Shaker Calibration</li>
							<li>Walk-in freezer mapping</li>
							<li>CDA Clean Dry Air Testing</li>
							<li>Bacterial Counts</li>
							<li>
								Fume Hood Certification
								<ul>
									<li>ASHRAE 110 Test</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						Sensor Calibration
						<ul>
							<li>Oxygen sensor</li>
							<li>CO2 sensor</li>
							<li>Humidity sensor</li>
						</ul>
					</li>
					<li>
						Specialty Adjustment and Testing Services
						<ul>
							<li>Laser Alignment of belts, sheaves, and motors</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="u-cta">
	<div class="container">
		<div class="u-forground">
			<h2>Get Started</h2>
			<p>
				Maximize your buildings comfort, security, and efficiency.
			</p>
			<%= link_to 'Contact Us', 'contact.html', :class=>'button button-green' %>
		</div>
	</div>
</section>